"use client";

import { useState } from "react";
import RootLayout from "@/app/layout";

const {{properCase name}} = ({ }) => {
return (
<RootLayout>
    <main className="flex min-h-screen flex-col items-center justify-between bg-light-bg-primary bg-opacity-90">
    </main>
</RootLayout>
)
}

export default {{properCase name}};